.App {
  text-align: center;
}
.mainButton {
  margin: 40px 0px;
  background: #ff0000;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  font-size: 70px;
  font-weight: 800px;
}
.mainButton:focus {
  outline: 0px;
}
